{% extends 'base.html' %}
{% block base_content %}
<div class="container">
    <h1 class="display-1">
        New Idea
    </h1>
    <div class="row">
        <div class="col s12">
            <form method="post">
                {% csrf_token %}
                <div class="input-field">
                    <input type="text" name="title">
                    <label>Title</label>
                </div>
                <div class="input-field">
                    <textarea id="textarea" class="materialize-textarea" name="description"></textarea>
                    <label>Description</label>
                </div>
                <button type="submit" class = "btn waves-effect waves-light">Create</button>
            </form>
        </div>
    </div>
</div>
{% endblock base_content %}
